.title-stock-three {
    position: relative;
}

.title-stock-newsthree {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid #ff4444bf;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    margin-top: -15px;
    margin-left: 292px;
}

.title-select-one .ant-select-selection {
    color:#626262;
    border: 0;
}

.title-select-two .ant-select-selection {
    color:#626262;
    border: 0;
}

.title-search {
    display: inline-block;
    text-align: right;
    /* width: 842px; */
    width: 830px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: center; */
    color: #626262;
}

.title-search-result {
    color:#626262;
    font-size: 13px;
}


/*"时间不限、分类"切换下拉框外边框蓝色去掉*/
.title-select .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active {
    border-color: white;
    /* box-shadow: 0 0 0 2px rgba(251, 252, 253, 0.979); */
    box-shadow: 0 0 0 0;
}

.title-select .ant-select-open .ant-select-selection {
    border-color: white;
}

.title-select .ant-select-selection:hover {
    border-color: white;
}