.head {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 58px;
    height: 50px;
    margin-left: 10px;
}
    
.head-left-one {
    /* width: 172px; */
    height: 37px;
    font-family: PingFangSC;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
    /* background-color: #3e3e3e; */
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: middle;
}
    
.head-left-two {
    /* width: 55px; */
    height: 32px;
    background-image: linear-gradient(60deg, #eb5858, #f12b2b);
    font-family: Times;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

.head-right {
    margin-top: 12px;
    text-align: right;
    padding-right: 50px;
}

.ant-select-selection {
    /* width: 24px; */
    /* height: 22px; */
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border: 0;
}
 
.head-right-login-btn {
    /* width: 37px;
    height: 25px; */
    font-family: PingFangSC;
    /* font-size: 18px; */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
    
.head-right-resiger-btn {
    /* width: 32px;
    height: 22px; */
    font-family: PingFangSC;
    /* font-size: 16px; */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ff5454;
}
    