/* 全部评论 */
.details-all-comment-user-icon
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.details-all-comment-user-icon-sm
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.details-all-comment-user-ID
{
  margin-top:16px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #646464;
}

.details-all-comment-time
{
  font-family: PingFangSC;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8e8e8e;    
}

.details-all-response-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  word-wrap: break-word;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.details-all-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #383838;  
}
.details-all-comment-response
{
    display: inline-block;
    margin-left: 8px;
    padding: 0;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8e8e8e;
    border: none;
    background: none;
    outline: none;    
}
.details-all-comment-response:hover 
{
  color: #8e8e8e;
}

.details-all-comment-response:focus 
{
  color: #8e8e8e;
}
.details-all-comment-response:active
{
  color: #8e8e8e;
}
/* .details-all-comment-number
{
    display: inline-block;
    margin:0 0 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
} */

.details-all-comment-add-response
{
  width:'100%';
  height:120px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px 10px;
  text-align: right;
}
.details-all-comment-add-response-button
{
  margin-top:5px;
  width: 79.9px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(242deg, #ff4444, #ff9191);
}


.details-all-comment-add-response-button>span
{
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.details-all-comment-add-response-button:hover>span
{
  color: #ff9191
}

.details-layup-response
{
  margin-left: 12px;
  padding: 0;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ff4444;
  border: none;
  background: none;
  outline: none; 
}

.details-layup-response:hover 
{
color: #ff4444;
}

.details-layup-response:focus 
{
color: #ff4444;
}
.details-layup-response:active
{
color: #ff4444;
}
