.issue-details-tittle
{
  margin-top:55px;
  font-family: PingFangSC;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3d3d3d;
}

.issue-details-author
{
  margin-top:60px; 
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #6c6c6c;
}

.issue-details-text
{
  margin-top: 40px;
  text-indent: 2em;
  word-wrap : break-word;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #383838;
  display: inline-block;
  white-space: pre-wrap;
}

/* 添加动画 */
.issue-details-like-number-animation
{
  padding-left: 5%;
  padding-top: 65px;
  color:#ff9191;
  font-size: 14px;
  opacity:0;
  font-weight: 550;
  -webkit-animation:like-number 1s ease-in-out;
  animation:like-number 1s  ease-in-out; 
  animation-delay:0.3s;
}

@keyframes like-number{
  0%{
    padding-top: 60px;
    opacity:1  
  }
  100%{
    padding-top: 0;
    opacity:0;  
  }  
}
@-webkit-keyframes like-number
{
  0%{
    padding-top: 60px;
    opacity:1  
  }
  100%{
    padding-top: 0;
    opacity:0;  
  } 
}

.issue-details-like-button
{
  background: none;
  outline: none;
  border:none;
  height: 75px;
  cursor: pointer;
  vertical-align: bottom; 
}

.issue-details-like-button-img
{
  height:60px;
  width:60px;
}

.issue-details-like-button-img-animation
{
  height:60px;
  width:60px;
  filter: grayscale(1);
  -webkit-animation:like-button-img 0.6s ease-in-out;
  animation:like-button-img 0.6s 1 ease-in-out;  
}
.issue-details-like-button-img-black
{
  height:60px;
  width:60px;
  filter: grayscale(1);
}
@keyframes like-button-img{
  0%{
    height:60px;
    width:60px;
    opacity:1 ;
    -webkit-filter: grayscale(0)
  }
  50%{
    height:42px;
    width:42px;
    opacity:0.25; 
    -webkit-filter: grayscale(0)
  }
  100%{
    height:60px;
    width:60px;
    opacity:1; 
    -webkit-filter: grayscale(0)
  }
}
@-webkit-keyframes like-button-img
{
  0%{
    height:60px;
    width:60px;
    opacity:1 ;
    -webkit-filter: grayscale(0)
  }
  50%{
    height:42px;
    width:42px;
    opacity:0.25; 
    -webkit-filter: grayscale(0)
  }
  100%{
    height:60px;
    width:60px;
    opacity:1; 
    -webkit-filter: grayscale(0)
  }
}

.issue-details-user-icon
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.issue-details-user-icon-sm
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.issue-details-user-ID
{
  margin-top:16px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #646464;
}

.issue-details-add-comment
{
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px;
  text-align: right;
}
.issue-details-add-comment-button
{
  width: 79.9px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(242deg, #ff4444, #ff9191);
}

.issue-details-add-comment-button>span
{
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* 全部评论 */

.issue-details-all-comment-time
{
  font-family: PingFangSC;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8e8e8e;    
}

.issue-details-all-response-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  word-wrap: break-word;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.issue-details-all-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #383838;  
}
.issue-details-all-comment-response
{
    display: inline-block;
    margin:0 20px 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}
.issue-details-all-comment-number
{
    display: inline-block;
    margin:0 0 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}

.issue-details-all-comment-add-response
{
  width:'100%';
  height:120px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px 10px;
  text-align: right;
}
.issue-details-all-comment-add-response-button
{
  margin-top:5px;
  width: 79.9px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(242deg, #ff4444, #ff9191);
}

.issue-details-all-comment-add-response-button>span
{
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.issue-details-layup-response
{
  margin-left: 12px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #ff4444;
}

/* 我的评论 */
.issue-details-my-comment-time
{
  font-family: PingFangSC;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8e8e8e;    
}

.issue-details-my-response-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  word-wrap: break-word;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.issue-details-my-comment-text
{
  padding-right: 10px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #383838;    
}
.issue-details-my-comment-response
{
    display: inline-block;
    margin:0 20px 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}
.issue-details-my-comment-number
{
    display: inline-block;
    margin:0 0 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}

.issue-details-my-comment-add-response
{
  width:'100%';
  height:120px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px 10px;
  text-align: right;
}
.issue-details-my-comment-add-response-button
{
  margin-top:5px;
  width: 79.9px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(242deg, #ff4444, #ff9191);
}

.issue-details-my-comment-add-response-button>span
{
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.issue-details-my-comment-title
{
  width: 630px;
  height: 30px;
  margin-top: 40px;
  border-radius: 15px;
  background-color: #f2f8ff;
}

.issue-details-my-comment-title-text
{
  margin-left: 12px;
  vertical-align: middle;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #5a5a5a;
}

/* 我的消息 */
.issue-details-my-message-time
{
  font-family: PingFangSC;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8e8e8e;    
}

.issue-details-my-message-comment-text
{
  margin-top: 20px;
  padding-right: 10px;
  word-wrap: break-word;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.issue-details-my-message-text
{
  padding-right: 10px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #383838;    
}
.issue-details-my-message-response
{
    display: inline-block;
    margin:0 20px 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}
.issue-details-my-message-number
{
    display: inline-block;
    margin:0 0 0 8px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #8e8e8e;
}

.issue-details-my-message-add-response
{
  width:'100%';
  height:120px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px 10px;
  text-align: right;
}
.issue-details-my-message-add-response-button
{
  margin-top:5px;
  width: 79.9px;
  height: 36px;
  border-radius: 6px;
  background-image: linear-gradient(242deg, #ff4444, #ff9191);
}

.issue-details-my-message-add-response-button>span
{
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.issue-details-my-message-title
{
  width: 630px;
  height: 30px;
  margin-top: 40px;
  border-radius: 15px;
  background-color: #f2f8ff;
}

.issue-details-my-message-title-text
{
  margin-left: 12px;
  vertical-align: middle;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #5a5a5a;
}


