.details-user-icon
{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.details-user-icon-sm
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.details-user-ID
{
  margin-top:16px;
  font-family: PingFangSC;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #646464;
}

.details-add-comment
{
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(192, 192, 192, 0.5);
  padding: 20px 22px;
  text-align: right;
}

.details-add-comment-button
{
    display:inline-block;
    width:80px;
    border-radius:4px;
    border:0;
    background-color: #ff8e8e;
    background-image:linear-gradient(261deg, #ff4444, #ff9191);
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.details-add-comment-button:hover
{
  background-color: #ff8e8e;
}
.details-add-comment-button:focus
{
  background-image:linear-gradient(261deg, #ff4444, #ff9191);
}
.details-add-comment-button:active 
{
  background-image: linear-gradient(-219deg, #CD2222 32%, #DC2D2D 100%);
}

/*
.comment-summarize
{  
  font-family: PingFangSC;
}
 
.comment-summarize .ant-tabs-nav .ant-tabs-tab
{
  font-family: PingFangSC;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}

.comment-summarize .ant-tabs-nav .ant-tabs-tab-active
{
  font-family: PingFangSC;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e46464;
}

.comment-summarize .ant-tabs-ink-bar
{
  background-color: #e46464;
}
*/
.all-comment-title
{
  display: inline-block;
  margin-left: 8px;
  font-family: PingFangSC;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #646464;
}
