.HKmarket-button
{
    margin-left: 4px;
    padding: 0;
    border:none;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7a8087;
    box-shadow: none;
}

.HKmarket-company
{
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7a8087;
}

.HKmarket
{
    /* margin-top:10px; */
    width:auto;
    margin:10px 2px 25px 2px; 
    box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.5);
}

/* 公司信息的样式 */
.HKmarket .ant-tabs-extra-content
{
    float: left !important;
    width:26%;
}

.HKmarket-company-information
{
    width:100%;
    height: 62px;
    display: inline-block;
    background-image: linear-gradient(63deg, #68c0ff, #4c87e2);
    padding:12px 5px;
}

.HKmarket-company-information-name
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.HKmarket-company-information-code 
{
    margin-top:4px;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.HKmarket-tab>.ant-tabs-bar 
{
    margin:0;
}
.ant-tabs .HKmarket-tab>.ant-tabs-bar .ant-tabs-nav-container
{
    width: 74%;
    height: 62px;
    background-color: #ffffff;
    /* border: solid 1px #ebebeb; */
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0 15px 30px;
}

.HKmarket .ant-tabs-nav-scroll
{
    background: none;
}
.HKmarket-tab>.ant-tabs-bar .ant-tabs-nav .ant-tabs-tab
{
    height: 30px;
    width: 80px;
    padding:6px 0;
    margin:0 18px 0 0;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 15px;
    letter-spacing: normal;
    text-align: center;
    color: #58626d;
    background-color: #f6f6f6;
    border-radius: 4px;
    border: solid 1px #99a2ac;
    background-image: none;
}

.HKmarket-tab>.ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active
{
    height: 30px;
    width: 80px;
    padding:6px 0;
    margin:0 18px 0 0;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 15px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; 
    background-color: #7a8087;
    border-radius: 4px;
    border: solid 1px #99a2ac;
    background-image: none;
}

