.stocklist-search
{
    width: 80px;  
    margin-top: 6px; 
    margin-right: 10px;
}
.stocklist-search .ant-select-selection
{
    background: none;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #3f3f3f;
}

.stocklist-button
{
    margin-right: 27px;    
}

.stocklist-button:after
{
    border:none;
}

.stocklist-button-text
{
    margin-left:7px;
    vertical-align: middle; 
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

/* 表格样式 */

.stocklist-table-row-text
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515151;
    background-color: #f4f4f4;    
}

.stocklist-table-row-text-another
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515151;   
}

.stocklist-table-code
{
    text-align: center;
    color: #3a69a0;
    cursor: pointer;
}
.ant-table-thead .stocklist-table-code
{
    text-align: center;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3a69a0;
    background-color: #e0eefe;
}
.stocklist-table .ant-table-thead > tr > th.ant-table-column-sort
{
    background-color: #e0eefe;
}

.stocklist-table .ant-table-tbody>tr>td.ant-table-column-sort
{
    background:none;
}
.stocklist-table .ant-table-tbody > tr:hover > td
{
    background-color: #e6f7ff !important;
}
.stocklist-table-code .ant-table-column-sorter
{
    display: none;
}

.stocklist-table-name
{
    text-align: center;
    color: #000000;
}
.ant-table-thead .stocklist-table-name
{
    text-align: center;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3a69a0;
    background-color: #e0eefe;
}

.stocklist-table-name .ant-table-column-sorter
{
    display: none;
}

.stocklist-table-normal
{
    text-align: center;
}
.ant-table-thead .stocklist-table-normal
{
    text-align: center;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3a69a0;
    background-color: #e0eefe;
}

.stocklist-table-normal .ant-table-column-sorter
{
    display: none;
}

.stocklist-table-change-amount
{
    text-align: center;
    color: #ff5469;
}
.ant-table-thead .stocklist-table-change-amount
{
    text-align: center;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3a69a0;
    background-color: #e0eefe;
}

.stocklist-table-change-amount .ant-table-column-sorter
{
    display: none;
}

/* 隐藏表格中自身的分页 */
.stocklist-table .ant-table-pagination.ant-pagination
{
    display: none;
}

.stocklist-table-pagination
{
    margin: 8px 0;
    text-align: center;
}

.stocklist-table-pagination .ant-pagination-item
{
    min-width: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    background-color: #f6f6f6;
    margin-right: 12px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7a8087;
}

.stocklist-table-pagination .ant-pagination-item-active
{
    background-color: #a9a9aa;
}

.stocklist-table-pagination .ant-pagination-item-active>a
{
    color: #ffffff;
}

.stocklist-table-pagination .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link
{
    border:none;
    background-color: #f6f6f6;
}

.stock-list-select-button-one
{
    width: 80px;
    border-radius: 4px;
    border:none;
    background-color: #7a8087;
}

.stock-list-select-button-one:hover
{
    border:none;
    background-color: #7a8087;
}
.stock-list-select-button-one:focus
{
    border:none;
    background-color: #7a8087;
}
.stock-list-select-button-one:active
{
    border:none;
    background-color: #7a8087;
}

.stock-list-select-button-one>span
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.stock-list-select-button-one:hover>span
{
    color: #ffffff;
}

.stock-list-select-button-one:focus>span
{
    color: #ffffff;
}

.stock-list-select-button-two
{
    width: 80px;
    border-radius: 4px;
    border:none;
    background-image: linear-gradient(246deg, #f56f6f, #ff9191);
}

.stock-list-select-button-two:hover
{
    border:none;
    background-image: linear-gradient(246deg, #f56f6f, #ff9191);
}
.stock-list-select-button-two:focus
{
    border:none;
    background-image: linear-gradient(246deg, #f56f6f, #ff9191);
}
.stock-list-select-button-two:active
{
    border:none;
    background-image: linear-gradient(246deg, #f56f6f, #ff9191);
}
.stock-list-select-button-two>span
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.stock-list-select-button-two:hover>span
{
    color: #ffffff;
}

.stock-list-select-button-two:focus>span
{
    color: #ffffff;
}

/* .stocklist-table-normal .stock-list-select-button-one .ant-btn:focus, .ant-btn:active, .ant-btn.active{
    background-color: pink;
    border: 1px solid pink;

}

.stocklist-table-normal .stock-list-select-button-one .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
    background-color: pink;
    border: 1px solid pink;
    
}

.stocklist-table-normal .stock-list-select-button-one .ant-btn:hover, .ant-btn:focus{
    background-color: pink;
    border: 1px solid pink;
} */
