
.testCharts{
    width: 800px;
    height: 300px;
    border: 1px slid blue;
    display: inline-block;
    /* background-color: lightblue */
}

.capitalstructure-title
{
    margin-left: 8px;
    display: inline-block;
    font-family: PingFangSC;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3b3b3b;
}

.capitalstructure-stock-two {
    margin-left: 112px;
}

.capitalstructure-none  {
    /* border:solid 1px #ebeef1; */
    margin-bottom: 22px;
    border-bottom: solid 1px #ebeef1;
    border-top: 0;
}

.capitalstructurenone-text {
    font-family: PingFangSC;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 150px;
}

.capitalstructure-body  {
    border-top:solid 1px #ebeef1;
    /* margin-bottom: 22px; */
}

.capitalstructure-body ul > li {
    list-style-type:none;
}

.capitalstructure-body-left {
    /* margin-left: -40px; */
    margin-bottom: 0;
    padding-left: 28px;
    background-color: #ebeef1;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b6878;
    padding-bottom: 20px;
    margin:0;
    width: 100%;
}

.capitalstructure-body-div{
    padding-right:20px;
    padding-left:20px;
}

.capitalstructure-body-right {
    padding: 0;
    margin: 0;
    width: 200px;
    display: inline-block;
}

.capitalstructure-body-left-one {
    padding-bottom: 10px;
    padding-top: 20px;
}

.capitalstructure-body-left-two {
    padding-bottom: 10px;
    
}
.capitalstructure-body-left-none {
    padding-bottom: 11px;
}

.capitalstructure-body-right-one {
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #515151;

}

.capitalstructure-body-right-two {
    padding-bottom: 10px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
}
