.profitstetement-title {
    margin-left: 8px;
    display: inline-block;
    font-family: PingFangSC;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3b3b3b;
}

.profitstetement-body  {
    border:solid 1px #ebeef1;
    margin-bottom: 22px;
}

.profitstetement-body ul > li {
    list-style-type:none;
}

.profitstetement-body-left {
    /* margin-left: -40px; */
    margin-bottom: 0;
    padding-left: 28px;
    background-color: #ebeef1;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b6878;
    padding-bottom: 20px;
}

.profitstetement-body-div{
    /* overflow-x: auto; */
    /* width:600px;  */
    /* overflow-x: scroll; */
    width: 200%;
}

.profitstetement-body-right {
    background-color: white;
    display: inline-block;
    /* width: 200px; */
}

.profitstetement-body-left-one {
    padding-bottom: 10px;
    padding-top: 50px;
}

.profitstetement-body-left-two {
    padding-bottom: 10px;
    
}

.profitstetement-body-right-one {
    padding-bottom: 12px;
    padding-top: 20px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #515151;
}

.profitstetement-body-right-two {
    padding-bottom: 10px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #515151;
}