.stockoverview-top {
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:8px;
}

.stockoverview-top-left {
    position: relative;
    width: 161px;
    height: 154px;
    background-image: linear-gradient(31deg, #68c0ff, #4c87e2);
    display: inline-block;
}

.stockoverview-top-left-one {
    font-family: PingFangSC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.stockoverview-top-left-two {
    font-family: PingFangSC;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: inline-block;
}

.stockoverview-top-left-three {
    text-align: center;
    margin-top: 15px;
}

.stockoverview-top-left-three .ant-btn {
    width: 102px;
    height: 22px;
    border-radius: 11px;
    background-color: lightskyblue;
    border: 0;
    font-family: PingFangSC;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


.stockoverview-top-right {
    width: 807px;
    position: absolute;
    margin-left: 10px;
    margin-right: 8px;
    padding: 15px 0 18px 16px;
    border: solid 1px #dcdcdc;
}

.stockoverview-table-one {
    /* width: 9%; */
    width: 71px;
    height: 28px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #000000;
    text-align:left;  
}

.stockoverview-table-two {
    /* width: 11%; */
    width: 90px;
    height: 28px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    color: #000000;
    text-align: right;
    padding-right: 20px;
}


.stockoverview-bottom-left {
    position: relative;
    width: 752px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 22px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin-left: 10px;
    height: 380px;
}

.stockoverview-bottom-right {
    position: absolute;
    margin-left: 18px;
    margin-top: 10px;
    width: 209px;
    height: 380px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #eaeaea;
}

.stockoverview-bottom-right .ant-btn:active, .ant-btn.active {
    color: #fff;
    background-color: #7a8087;
    border-color: #7a8087;
}

.stockoverview-bottom-right .ant-btn:hover {
    color: #fff;
    border:1px solid #7a8087;
}
.stockoverview-bottom-right .ant-btn:focus {
    background: #7a8087;
    text-decoration: none;
}

.stockoverview-bottom-right .ant-btn:focus {
    color: #fff;
    border:1px solid #7a8087;
}

.stockoverview-bottom-left-content {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 0;
    margin-top: -25px;
    margin-left: 10px;
    padding-top: 16px;
}

.stockoverview-bottom-left .ant-tabs-nav-scroll {
    /* width: 762px; */
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 60px;
    background-color: #f9f9f9;
    border: solid 1px #dcdcdc;
}

.stockoverview-bottom-left .ant-tabs-nav-container{
    width: 752px;
}

.stockoverview-bottom-left .ant-tabs-bar {
    border: 0;
}

.stockoverview-bottom-left .ant-tabs-nav-wrap {
    margin-bottom: 0;
    width: 752px;
    display: inline-block;
}

.stockoverview-bottom-left .ant-tabs-nav {
    padding-left: 15px !important;
    padding-top: 15px;
}

.stockoverview-bottom-left .ant-tabs-nav .ant-tabs-tab-active {
    width: 120px !important;
    height: 30px !important;
    border-radius: 4px !important;
    background-color: #ffffff !important;
    border: solid 1px #99a2ac !important;
    background-image: linear-gradient(245deg, #99a2ac, #999999) !important;
    color: #ffffff !important;
    line-height: 5px !important;
    font-family: PingFangSC !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
}

.stockoverview-bottom-left .ant-tabs-tab {
    width: 120px !important;
    height: 30px !important;
    border-radius: 4px !important;
    background-color: #ffffff !important;
    border: solid 1px #99a2ac !important;
    font-family: PingFangSC !important;
    font-size: 13px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 5px !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #58626d !important;
}
.stockoverview-bottom-left  .ant-tabs-ink-bar
{
    display: none !important;
}

.stockoverview-bottom-right-one {
    /* width: 209px; */
    width: 207px;
    height: 41px;
    border-radius: 4px;
    background-color: #7a8087;
    color: #ffffff;
}
.stockoverview-bottom-right-one:hover {
    /* width: 209px; */
    width: 207px;
    height: 41px;
    border-radius: 4px;
    background-color: #7a8087;
    color: #ffffff;
}
.stockoverview-bottom-right-one:focus {
    /* width: 209px; */
    width: 207px;
    height: 41px;
    border-radius: 4px;
    background-color: #7a8087;
    color: #ffffff;
}
.stockoverview-bottom-right-one:active {
    /* width: 209px; */
    width: 207px;
    height: 41px;
    border-radius: 4px;
    background-color: #7a8087;
    color: #ffffff;
}
.stockoverview-bottom-right-one-text {
    width: 66px;
    height: 18px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding-right: 50px;
    padding-left: 53px;
}

.stockoverview-bottom-right-ul{
    list-style-type:none;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-left: 0;
    padding-left: 0;
}

.stockoverview-bottom-right-two {
    height: 30px;
    /* background-color: #f6f6f6; */
    background-color: #eaeaea;
    padding-left: 26px;
}

.stockoverview-bottom-right-three {
    height: 30px;
    background-color: #ffffff;
    padding-left: 26px;
}

.stockoverview-pagination
{
    margin: 8px 0;
    text-align: center;
}

.stockoverview-pagination > li
{
    margin-left: 0;
    padding-left: 0;
}

.stockoverview-pagination .ant-pagination-item
{
    min-width: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    background-color: #f6f6f6;
    margin-right: 12px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #7a8087;
}

.stockoverview-pagination .ant-pagination-item-active
{
    background-color: #a9a9aa;
}

.stockoverview-pagination .ant-pagination-item-active>a
{
    color: #ffffff;
}

.stockoverview-pagination .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link
{
    border:none;
    background-color: #f6f6f6;
}