.head-left
{
    margin-top: 12px;
}

.logo {
    width: 66px;
    height: 57px;
    margin-left: 10px;
}
    
.head-left-one {
    width: 172px;
    height: 37px;
    font-family: PingFangSC;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3e3e3e;
    /* background-color: #3e3e3e; */
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
}
    
.head-left-two {
    width: 55px;
    height: 32px;
    background-image: linear-gradient(60deg, #eb5858, #f12b2b);
    font-family: Times;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head-center
{
    margin-top: 22px;
}

.head-center-search
{
    width: 60%;
    margin-left: 30px;
}
.head-center-search Button
{
    border-radius:4px;
    background-image: linear-gradient(236deg, #ff4444, #ff9191);
    border:solid 1px #ff5454;
}
.head-center-search Button:hover
{
    border-radius:4px;
    background-image: linear-gradient(236deg, #ff4444, #ff9191);
    border:solid 1px #ff5454;
}
.head-center-search>span>input
{
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.head-center-search>span>span>button>span>font>font
{
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.head-rigth-select
{
    display: inline-block;
}

.head-rigth-select>div>div
{
    border:0;
}

.head-rigth-select>div>div>div>div
{
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.head-rigth-select>div>div>div>div>font>font
{
    font-family: PingFangSC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
     line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.user-picture {
    width: 57px;
    height: 57px;
    margin-left: 20px;
    border-radius: 50%;
}

.head-right-text
{
    display: inline-block;
    margin-left: 10px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #545454;
}
