.resetp-base .ant-modal-footer {
    padding: 0;
    border: 0;
}

.resetp-number-one {
    font-family: PingFangSC;
    /* font-size: 16px; */
    /* font-weight: 600; */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 16px;
    letter-spacing: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    background-color:#e1e1e1;
    color:#ffffff;
}

.resetp-number-two {
    font-family: PingFangSC;
    /* font-size: 16px; */
    /* font-weight: 600; */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 16px;
    letter-spacing: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    background-color:#f58686;
    color:#ffffff;
}

.resetp-number-three {
    font-family: PingFangSC;
    /* font-size: 16px; */
    /* font-weight: 600; */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 16px;
    letter-spacing: normal;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    text-align: center;
    background-color:#e1e1e1;
    color:#ffffff;
}

.reset-line {
    width: 38px;
    display: inline-block;
    border-top: 1px solid #979797;
    margin-bottom: 5px;
}

.reset-newpassword {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
    margin-top: 15px;
}

.reset-newpassword-text {
    width: 220px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    margin-top: 1px;
}

.reset-write-newpassword {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
    /* margin-top: 20px; */
}

.reset-write-newpassword-text {
    width: 220px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    margin-top: 1px;
}

.reset-email {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
    /* margin-top: 20px; */
}

.reset-email-text {
    display: inline-block;
    width: 220px;
    border: 0;
    /* border-radius: 4px; */
    background-color: #ffffff;
    /* border: solid 1px #e1e1e1; */
    margin-top: 6px;
    margin-left: 10px;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4c4c4c;
}

.reset-identyno {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
    /* margin-top: 5px; */
}

.reset-identyno-text {
    /* width: 150px; */
    width: 110px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    margin-top: 1px;
}

.reset-identyno-way {
    display: inline-block;
    margin-top: 1px;
}

.reset-identyno-way Button {
    height: 25px;
    border-radius: 4px;
    background-color: #d8d8d8;
    font-family: PingFangSC;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #353535;
}

.reset-confirm {
    /* width: 342px; */
    width: 220px;
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(262deg, #ff4444, #ff9191);
    color: white;
    margin-top: 15px;
    /* margin-bottom: 10px; */
}