/* .base .ant-modal-footer {
    padding: 0;
    border: 0;
} */

.time-number-one {
    font-family: PingFangSC;
    /* font-size: 16px; */
    /* font-weight: 600; */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /* line-height: normal; */
    line-height: 16px;
    letter-spacing: normal;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    text-align: center;
    background-color:#f58686;
    color:#ffffff;
}