.home-stock {
    margin: auto;
    width: 1000px;
    margin-top:20px;
}

.home-page-stock {
    display: inline-block;
    min-width: 1000px;
    /* margin-left: 180px; */
}

.stocks-title-word-left {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff5454;
    margin-left: -8px;
}

.stocks-title-word {
    /* width: 112px; */
    /* height: 40px; */
    font-family: PingFangSC;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: left; */
    color: #353535;
    /* border-left: 3px solid #ff5454; */
}

.stocks-title-en-word {
    display: inline-block;
    font-family: PingFangSC;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: left; */
    color: #848484;
    margin-left: 12px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.stocks-picture {
    margin-bottom: 10px;
    /* width: 100%; */
    /* margin-right: 20px; */
    width: 32%;
    margin-right: 20px;
}

.stocks-picture1 {
    margin-bottom: 10px;
    /* width: 100%; */
    /* margin-right: 20px; */
    width: 32%;
    /* margin-right: 20px; */
}
    