.login-register
{
  background-image: url(./assient/loginRegisterBG/login_register_bk.jpg) no-repeat;
  background: pink; 
  padding:0 0 50px 0;
}


.login-register-left-head
{
  display: inline-block;
  width: 100%;
  font-family: PingFangSC;
  font-size: 25px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-register-left-head-2
{
  display: inline-block;
  font-family: PingFangSC;
  font-size: 20px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-register-left-head-2 div
{
  display: inline-block;
  width: 100%;
}

.login-register-box
{
  display:inline-block;
  width:393px;
  height: auto;
  background-color:#ffffff;
  border-radius: 8px;
  margin:50px 0 0 0;
}

.login-register-box-content
{
  display:inline-block;
  width:100%; 
  height:auto;
  margin-top:30px;   
  text-align:center;
}
.login-register-box-imgBg
{
    display:inline-block;
    border-radius:50%;
    background-color: #fafafa; 
    width:100px; 
    height:100px;
    padding-top:17px;
}

.login-register-box-forgetpsd
{
    display:inline-block;
    text-align: right;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#3172be;
    border:none;
    text-decoration: underline;
    padding: 0;
}

.login-box-button
{
    display:inline-block;
    width:100%;
    border-radius:4px;
    border:0;
    background-image:linear-gradient(261deg, #ff4444, #ff9191);
}

/*HJQ 2018.9.21*/
.login-register-box-tab .ant-tabs-bar {
  border:0;
  color: #656565;
}
.login-register-box-tab .ant-tabs-ink-bar{
  background-color: #ff5454;
}

.login-register-box-tab .ant-tabs-nav .ant-tabs-tab-active {
  color: #ff5454;
}

.login-register-box-tab .ant-tabs-nav .ant-tabs-tab:hover{
  color: #ff5454;
}

.forgetpass {
  font-family: PingFangSC;
  font-size: 14px;
}